---
layout: default
---

<div class="container col-sm-12 col-lg-9" id="nav_bar">
  <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <div class="container text-uppercase" style="justify-content: center;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav m-2">
          <a id="nav-a" class="nav-item nav-link" href="/crad-rs">Início</a>
          <a id="nav-a" class="nav-item nav-link" href="#autores">Autores</a>
          <a id="nav-a" class="nav-item nav-link" href="#edicoes">Edições</a>
          <a id="nav-a" class="nav-item nav-link" href="#anais">Anais</a>
          <a id="nav-a" class="nav-item nav-link" href="#contato">Fale conosco</a>
          <a id="nav-a" class="nav-item nav-link" href="{{ site.data.pagina-eradrs.evento.site }}" target="_blank">Site do Evento</a>
        </div>
      </div>
    </div>
  </nav>
</div>


<div class="pb-1 container col-sm-12 col-lg-9 text-justify bg-light">
  <h4 class="text-center">ERAD Região Sul</h4>
  <!-- Sobre -->
  <section class="sobre">
    <p class="lead text-justify">{{ site.data.pagina-eradrs.sobre }}</p>
    <p class="lead text-justify">{{ site.data.pagina-eradrs.evento.data }}</p>
    <p class="lead text-justify">{{ site.data.pagina-eradrs.evento.descricao }}</p>
    <p class="lead text-justify">{{ site.data.pagina-eradrs.evento.programacao }}</p>
    <h6 class="p-3 text-justify"><a href="{{ site.data.pagina-eradrs.evento.site }}" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-arrow-up-right-from-square">
    </i> Acessar site do evento</a></h6>
  </section>
  <!-- Publico alvo -->
  <section class="publico-alvo" id="publico-alvo">
    <h4 class="text-center">Público Alvo</h4>
    <div class="container">
      <p class="lead text-justify">{{ site.data.pagina-eradrs.publico-alvo.p1 }}</p>
      <p class="lead text-justify">{{ site.data.pagina-eradrs.publico-alvo.p2 }}</p>
      <p class="lead text-justify">{{ site.data.pagina-eradrs.publico-alvo.p3 }}</p>
    </div>
  </section>
  <!-- Autores -->
  <section class="autores" id="autores">
    <h4 class="text-center">Autores</h4>
    <div class="container">
      <p class="lead text-justify">{{ site.data.pagina-eradrs.autores.p1 }}</p>
      <p class="lead text-justify">{{ site.data.pagina-eradrs.autores.p2 }}</p>
    </div>
  </section>
  <!-- Edições -->
  <section class="edicoes mb-5" id="edicoes">
    <h4 class="text-center">Edições</h4>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-12 col-md-3">
          {% for edicao in site.data.pagina-eradrs.edicoes limit:6 %}
            <p style="margin: 0">
              <a href="{{ edicao.link }}" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-arrow-up-right-from-square">
                </i> {{ edicao.nome }}
              </a>
            </p>
            <p class="lead" style="color: #595959;">{{ edicao.local }}</p>
          {% endfor %}
        </div>
        <div class="col-sm-12 col-md-3">
          {% for edicao in site.data.pagina-eradrs.edicoes limit:6 offset:continue %}
          <p style="margin: 0">
            <a href="{{ edicao.link }}" target="_blank" rel="noopener noreferrer">
              <i class="fa-solid fa-arrow-up-right-from-square">
              </i> {{ edicao.nome }}
            </a>
          </p>
          <p class="lead" style="color: #595959;">{{ edicao.local }}</p>
          {% endfor %}
        </div>
        <div class="col-sm-12 col-md-3">
          {% for edicao in site.data.pagina-eradrs.edicoes limit:6 offset:continue %}
          <p style="margin: 0">
            <a href="{{ edicao.link }}" target="_blank" rel="noopener noreferrer">
              <i class="fa-solid fa-arrow-up-right-from-square">
              </i> {{ edicao.nome }}
            </a>
          </p>
          <p class="lead" style="color: #595959;">{{ edicao.local }}</p>
          {% endfor %}
        </div>
        <div class="col-sm-12 col-md-3">
          {% for edicao in site.data.pagina-eradrs.edicoes limit:6 offset:continue %}
          <p style="margin: 0">
            <a href="{{ edicao.link }}" target="_blank" rel="noopener noreferrer">
              <i class="fa-solid fa-arrow-up-right-from-square">
              </i> {{ edicao.nome }}
            </a>
          </p>
          <p class="lead" style="color: #595959;">{{ edicao.local }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- Anais -->
  <section class="edicoes mb-5" id="anais">
    <h4 class="text-center">Anais</h4>
    <div class="container">
      <div class="row text-center" style="justify-content: center;">
        {% for edicao in site.data.pagina-eradrs.edicoes %}
          {% if forloop.last == true %}
            {% continue %}
          {% endif %}
          <div class="card m-3" style="width: 7rem;">
            <a href="{{ edicao.anais }}" target="_blank" rel="noopener noreferrer">
              <img src="{{ edicao.capa }}" class="card-img-top" alt="{{ edicao.local }}">
            </a>
            <div class="card-body">
              <p class="card-text">{{ edicao.local | split: ", " | slice: 0}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Contato -->
  <section class="contato" id="contato">
    <h4 class="text-center">Fale Conosco</h4>
    <div class="container">
      <p class="lead text-justify">Informações sobre a CRAD Região Sul e/ou a ERAD Região Sul, podem ser solicitadas ao atual coordenador da Comissão Executiva da CRAD Região Sul. Sua solicitação será repassada para a pessoa mais indicada para o seu atendimento.</p>
      <p class="lead text-justify">Abaixo os dados do Coordenador da Comissão Executiva em exercício:</p>
      <ul>
        <li>{{ site.data.pagina-eradrs.coordenador-comissao-executiva.nome }}</li>
        <li>{{ site.data.pagina-eradrs.coordenador-comissao-executiva.email }}</li>
      </ul>
    </div>
  </section>
</div>