<div class="container col-sm-12 col-lg-9" id="nav_bar">
  <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <div class="container text-uppercase" style="justify-content: center;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav m-2">
           <!-- <a id="nav-a" class="nav-item nav-link mr-auto {% if page.id == 'index' %}active{% else %}{% endif %}" href="#inicio">Início</a> -->
          <a id="nav-a" class="nav-item nav-link" href="/cradrs">Início</a>
          <a id="nav-a" class="nav-item nav-link" href="/cradrs/#atividades">Atividades</a>
          <a id="nav-a" class="nav-item nav-link" href="/cradrs/#membros-honorarios">Institucional</a>
          <a id="nav-a" class="nav-item nav-link" href="erad-rs">ERAD/RS</a>
        </div>
      </div>
    </div>
  </nav>
</div>